<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Testing1</servlet-name>
        <servlet-class>Controller.Testing1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectControll</servlet-name>
        <servlet-class>Controller.AddSubjectControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionsController</servlet-name>
        <servlet-class>Controller.AddQuestionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalUpdate</servlet-name>
        <servlet-class>Controller.FinalUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalUpdateForQuestions</servlet-name>
        <servlet-class>Controller.FinalUpdateForQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Chack_Store</servlet-name>
        <servlet-class>Controller.Question_Chack_Store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>Controller.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOption</servlet-name>
        <servlet-class>Controller.DeleteOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalUpdateForSubject</servlet-name>
        <servlet-class>Controller.FinalUpdateForSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSubjectFromStudent</servlet-name>
        <servlet-class>Controller.RemoveSubjectFromStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentExamInfoController</servlet-name>
        <servlet-class>Controller.StudentExamInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Testing1</servlet-name>
        <url-pattern>/Testing1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSubject</servlet-name>
        <servlet-class>Controller.DeleteSubject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSubject</servlet-name>
        <url-pattern>/DeleteSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectControll</servlet-name>
        <url-pattern>/AddSubjectControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionsController</servlet-name>
        <url-pattern>/AddQuestionsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalUpdate</servlet-name>
        <url-pattern>/FinalUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalUpdateForQuestions</servlet-name>
        <url-pattern>/FinalUpdateForQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Chack_Store</servlet-name>
        <url-pattern>/Question_Chack_Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOption</servlet-name>
        <url-pattern>/DeleteOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalUpdateForSubject</servlet-name>
        <url-pattern>/FinalUpdateForSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSubjectFromStudent</servlet-name>
        <url-pattern>/RemoveSubjectFromStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentExamInfoController</servlet-name>
        <url-pattern>/StudentExamInfoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
